@{ Html.RenderPartial("_SettingsMenu"); }
<script type="text/javascript">
    $(document).ready(function () {
        $('a[href$="' + "/emailtemplates" + '"]').closest("li").addClass('active');
    });
</script>
<div class="row">
    <div class="col-sm-8">
        <h4 class="page-title">E-mail Templates</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h3 class="card-title">Password Reset</h3>
            <div class="experience-box">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Subject</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" id="txt_subject" rows="1">Reset Password</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Body</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" id="txt_body" rows="7">Hi Abc,
                         You recently asked to reset your Navone account password.
                         Thank You,
                         Human Resources
                         Prudence Technology Pvt. Ltd.
                       </textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="text-center m-t-20">
    <button class="btn btn-primary btn-lg" type="button" id="btn_save">Save &amp; update</button>
</div>
