
@model IEnumerable<OTS.Models.TranExitFormModel>
@*<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>*@

<style type="text/css">
    .required {
        color: red;
    }

    .myclass {
        text-transform: capitalize;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txt_Separation').datepicker('setDate', 'today');
        $("#txt_Separation").prop("disabled",true);
        $("#txt_EmployerName").on('keyup',function(){
            var str = $('#txt_EmployerName').val();
            var spart = str.split(" ");
            for (var i = 0; i < spart.length; i++) {
                var j = spart[i].charAt(0).toUpperCase();
                spart[i] = j + spart[i].substr(1);
            }
            $('#txt_EmployerName').val(spart.join(" "));
        });
        isRange();


        $("#btn_Submit").on('click', function () {
            var strLen =$("#txt_SalaryPosition").val();
            if (strLen.length >5) {
                alert("Allowed only 5 digit number for salary of position in anotherjob/expectatin tab.");
                setTimeout(function(){$("#txt_SalaryPosition").focus();});
                return false;
            }

            var strOrgOffer =$("#txt_OrgOffer").val();
            if (strOrgOffer.length >5) {
                alert("Allowed only 5 digit number for salary offer in Organization in anotherjob/expectatin tab.");
                setTimeout(function(){$("#txt_OrgOffer").focus();});
                return false;
            }

            if ($('#txt_WorkNature').val().length >5) {
                alert('Only 5 characters for work nature.');
                $('#txt_WorkNature').focus();
                return false;
            }
            if ($('input:checked').length < 1) {
                event.preventDefault();
                alert('Please check at least one check box in Reason/Dissatisfaction tab');
                setTimeout(function(){$("#chk_ytw").prop("checked",true);});
                return false;
            }
            var New_Employer =$('#txt_EmployerName').val();
            var Location =$('#txt_Location').val();
            var Position =$('#txt_Position').val();
            var WorkNature =$('#txt_WorkNature').val();
            var SalaryPosition =$('#txt_SalaryPosition').val();
            var OrgOffer =$('#txt_OrgOffer').val();

            var PERFORMANCE_FEEDBACK =$('#txt_PERFORMANCE_FEEDBACK').val();
            var RECOGNISED_ACCOMP =$('#txt_RECOGNISED_ACCOMP').val();
            var COMMUNICATED_EXPECT =$('#txt_COMMUNICATED_EXPECT').val();
            var Treated =$('#txt_Treated').val();
            var Trained =$('#txt_Trained').val();
            var Leadership =$('#txt_Leadership').val();
            var ENCOURAGED =$('#txt_ENCOURAGED').val();
            var CONCERNS =$('#txt_CONCERNS').val();
            var SUGGESTIONS =$('#txt_SUGGESTIONS').val();
            var KEPT_INFORMED =$('#txt_KEPT_INFORMED').val();
            var WORK_LIFE_BALANCE =$('#txt_WORK_LIFE_BALANCE').val();
            var ASSIGNMENT =$('#txt_ASSIGNMENT').val();

            var RECRUITMENT_PROCESS =$('#txt_RECRUITMENT_PROCESS').val();
            var EMPLOYEE_ORIENTATION =$('#txt_EMPLOYEE_ORIENTATION').val();
            var TRAINING_OPPORTUNITIES =$('#txt_TRAINING_OPPORTUNITIES').val();
            var CAREER_DEVELOPMENT =$('#txt_CAREER_DEVELOPMENT').val();
            var EMPLOYEE_MORALE =$('#txt_EMPLOYEE_MORALE').val();
            var FAIR_TREAT_EMPLOYEE =$('#txt_FAIR_TREAT_EMPLOYEE').val();
            var RECOGNITION_FOR_JOB =$('#txt_RECOGNITION_FOR_JOB').val();
            var SUPPORT_FOR_WORK=$('#txt_SUPPORT_FOR_WORK').val();
            var CORPRATION =$('#txt_CORPRATION').val();
            var COMMUNICATION =$('#txt_COMMUNICATION').val();
            var PERFORMANCE =$('#txt_PERFORMANCE').val();
            var INTEREST =$('#txt_INTEREST').val();
            var COMMITMENT =$('#txt_COMMITMENT').val();
            var CONCERN =$('#txt_CONCERN').val();
            var ADMINISTRATIVE =$('#txt_ADMINISTRATIVE').val();

            var TYPE_OF_WORK =$('#txt_TYPE_OF_WORK').val();
            var FAIRNESS_OF_WORKLOAD =$('#txt_FAIRNESS_OF_WORKLOAD').val();
            var SALARY =$('#txt_SALARY').val();
            var WORKING_CONDTIONS =$('#txt_WORKING_CONDTIONS').val();
            var TOOLS_PROVIDED =$('#txt_TOOLS_PROVIDED').val();
            var TRAINING_RECEIVED =$('#txt_TRAINING_RECEIVED').val();
            var CO_WORKKERS =$('#txt_CO_WORKKERS').val();
            var SUPERVISION_RECEIVED =$('#txt_SUPERVISION_RECEIVED').val();
            var LEVEL_OF_iNPUT =$('#txt_LEVEL_OF_iNPUT').val();

            var Emp_id = @Session["EMP_ID"];
            var Exit_id =$("#hdn_Exit_id").val();
            var p_reason = $('#txt_Reasion').val();
            var SEPERATION_DATE =$("#txt_Separation").val();
            var JOB_EXPACTATIONS =$("#txt_expectation").val();

            var ObjTranExitModel = {
                'EMP_ID': Emp_id,
                'P_REASON': p_reason,
                'SEPERATION_DATE':SEPERATION_DATE,
                'JOB_EXPACTATIONS':JOB_EXPACTATIONS

            };
            var ObjDissatisfaction={'Exit_id':Exit_id,
                'WORK_TYPE':$("#chk_ytw").is(":checked")==true?1:0,
                'WORK_COND':$("#chk_ywc").is(":checked")==true?1:0,
                'PAY':$("#chk_yp").is(":checked")==true?1:0,
                'SUPERVISOR':$("#chk_ys").is(":checked")==true?1:0,
                'LOCATION':$("#chk_yl").is(":checked")==true?1:0,
                'COST_LIVING':$("#chk_ya").is(":checked")==true?1:0,
                'COMMUTE':$("#chk_yc").is(":checked")==true?1:0
            };
            var ObjAnotherJob={'Exit_id':Exit_id,
                'NEW_EMPLOYER':New_Employer,
                'LOCATION':Location,
                'POSITION':Position,
                'WORK_NATURE':WorkNature,
                'SALARY_OF_POSITION':SalaryPosition,
                'ORGANIZATION_OFFER':OrgOffer
            };
            var objSupervisor ={
                'Exit_id':Exit_id,
                'PERFORMANCE_FEEDBACK': PERFORMANCE_FEEDBACK,
                'RECOGNISED_ACCOMP': RECOGNISED_ACCOMP,
                'COMMUNICATED_EXPECT': COMMUNICATED_EXPECT,
                'Treated': Treated,
                'Trained': Trained,
                'Leadership': Leadership,
                'ENCOURAGED': ENCOURAGED,
                'CONCERNS': CONCERNS,
                'SUGGESTIONS': SUGGESTIONS,
                'KEPT_INFORMED': KEPT_INFORMED,
                'WORK_LIFE_BALANCE': WORK_LIFE_BALANCE,
                'ASSIGNMENT': ASSIGNMENT
            };
            var objOrganization={
                'Exit_id':Exit_id,
                'RECRUITMENT_PROCESS':RECRUITMENT_PROCESS,
                'EMPLOYEE_ORIENTATION':EMPLOYEE_ORIENTATION,
                'TRAINING_OPPORTUNITIES':TRAINING_OPPORTUNITIES,
                'CAREER_DEVELOPMENT':CAREER_DEVELOPMENT,
                'EMPLOYEE_MORALE':EMPLOYEE_MORALE,
                'FAIR_TREAT_EMPLOYEE':FAIR_TREAT_EMPLOYEE,
                'RECOGNITION_FOR_JOB':RECOGNITION_FOR_JOB,
                'SUPPORT_FOR_WORK':SUPPORT_FOR_WORK,
                'CORPRATION':CORPRATION,
                'COMMUNICATION':COMMUNICATION,
                'PERFORMANCE':PERFORMANCE,
                'INTEREST':INTEREST,
                'COMMITMENT':COMMITMENT,
                'CONCERN':CONCERN,
                'ADMINISTRATIVE':ADMINISTRATIVE

            };
            var objJobAspect ={
                'Exit_id':Exit_id,
                'TYPE_OF_WORK':TYPE_OF_WORK,
                'FAIRNESS_OF_WORKLOAD':FAIRNESS_OF_WORKLOAD,
                'SALARY':SALARY,
                'WORKING_CONDTIONS':WORKING_CONDTIONS,
                'TOOLS_PROVIDED':TOOLS_PROVIDED,
                'TRAINING_RECEIVED':TRAINING_RECEIVED,
                'CO_WORKKERS':CO_WORKKERS,
                'SUPERVISION_RECEIVED':SUPERVISION_RECEIVED,
                'LEVEL_OF_iNPUT':LEVEL_OF_iNPUT
            };
            var commonTranExit ={
                'ObjTranExitModel':ObjTranExitModel,
                'ObjDissatisfaction':ObjDissatisfaction,
                'ObjAnotherJob':ObjAnotherJob,
                'objSupervisor':objSupervisor,
                'objOrganization':objOrganization,
                'objJobAspect':objJobAspect
            }
            if (SEPERATION_DATE !='' && p_reason !='' && New_Employer !='' && Location !='' && Position !='' && WorkNature !='' && SalaryPosition !='' && OrgOffer !='' && PERFORMANCE_FEEDBACK !='' && RECOGNISED_ACCOMP !='' && COMMUNICATED_EXPECT !='' && Treated !='' && Trained !='' && Leadership !='' && ENCOURAGED !='' && CONCERNS !='' && SUGGESTIONS !='' && KEPT_INFORMED !='' && WORK_LIFE_BALANCE !='' && ASSIGNMENT !=''
                && RECRUITMENT_PROCESS !='' && EMPLOYEE_ORIENTATION !='' && TRAINING_OPPORTUNITIES !='' && CAREER_DEVELOPMENT !='' && EMPLOYEE_MORALE !='' && FAIR_TREAT_EMPLOYEE !='' && RECOGNITION_FOR_JOB !='' && SUPPORT_FOR_WORK!='' && CORPRATION !='' && COMMUNICATION !='' && PERFORMANCE !='' && INTEREST !='' && COMMITMENT !='' && CONCERN !='' && ADMINISTRATIVE !=''
                && TYPE_OF_WORK !='' && FAIRNESS_OF_WORKLOAD !='' && SALARY !='' && WORKING_CONDTIONS !='' && TOOLS_PROVIDED !='' && TRAINING_RECEIVED !='' && CO_WORKKERS !='' && SUPERVISION_RECEIVED !='' && LEVEL_OF_iNPUT !='' && JOB_EXPACTATIONS !='') {
                $.ajax({

                    type: 'POST',
                    url: '/TranExit/CreateTranExit/',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(commonTranExit),
                    dataType: 'json',
                    success: function (data) {
                        var a = data.SuccessMsg;
                        var b = data.ErrorMsg;
                        if (data != null && a != null) {
                            alert(a);
                        }
                        else {
                            alert(b);
                        }
                        ClearText();
                    },
                    error: function (data) {

                    }
                });
            }
            else if (SEPERATION_DATE =="") {
                alert('Separation date cannot be left blank.');
                $("#txt_Separation").focus();
            }
            else if (p_reason =="") {
                alert('Reason field can not be left blank in Reason/Dissatisfaction tab');
                $('#txt_Reasion').focus();
            }
            else if (New_Employer =="") {
                alert('Employee name can not be left blank in Another job/Expectation tab.');
                $("#txt_EmployerName").focus();
            }
            else if (Location =="") {
                alert('Location can not be left blank in Another job/Expectation tab.');
                $("#txt_Location").focus();
            }
            else if (Position =="") {
                alert('Position can not be left blank in Another job/Expectation tab.');
                $("#txt_Position").focus();
            }
            else if (WorkNature =="") {
                alert('Work nature cannot be left blank in Another job/Expectation tab.');
                $("#txt_WorkNature").focus();
            }
            else if (SalaryPosition =="") {
                alert('Salary position can not be left blank in Another job/Expectation tab.');
                $("#txt_SalaryPosition").focus();
            }
            else if (OrgOffer =="") {alert('Organization offer can not be left blank in Another job/Expectation tab.');
                $("#txt_OrgOffer").focus();
            }
            else if (PERFORMANCE_FEEDBACK =="") {alert('Performance feedback is required in Supervisor tab.');
                $("#txt_PERFORMANCE_FEEDBACK").focus();
            }
            else if (RECOGNISED_ACCOMP =="") {alert('Recognized accomplishment is required in Supervisor tab.');
                $("#txt_RECOGNISED_ACCOMP").focus();
            }
            else if (COMMUNICATED_EXPECT =="") {alert('Communicated expectation is required in Supervisor tab.');
                $("#txt_COMMUNICATED_EXPECT").focus();
            }
            else if (Treated =="") {alert('Treated you fairly and respectfully is required in Supervisor tab.');
                $("#txt_Treated").focus();
            }
            else if (Trained =="") {alert('Coached, trained, developed is required in Supervisor tab in Supervisor tab.');
                $("#txt_Trained").focus();
           }
            else if (Leadership =="") {alert('Leadership is required in Supervisor tab in Supervisor tab.');
                $("#txt_Leadership").focus();
            }
            else if (ENCOURAGED =="") {alert('Teamwork and cooperation is required in Supervisor tab.');
                $("#txt_ENCOURAGED").focus();
            }
            else if (CONCERNS =="") {alert('Concern is required in Supervisor tab.');
                $("#txt_CONCERNS").focus();
            }
            else if (SUGGESTIONS =="") {alert('Suggestion and feedback is required in Supervisor tab.');
                $("#txt_SUGGESTIONS").focus();
            }
            else if (KEPT_INFORMED =="") {alert('Employee information is required in Supervisor tab.');
                $("#txt_KEPT_INFORMED").focus();
            }
            else if (WORK_LIFE_BALANCE =="") {alert('Work-life is required in Supervisor tab.');
                $("#txt_WORK_LIFE_BALANCE").focus();
            }
            else if (ASSIGNMENT =="") { alert('Appropriate and challenging assignment is required in Supervisor tab.');
                $("#txt_ASSIGNMENT").focus();
            }
            else if (RECRUITMENT_PROCESS =="") {  alert('Requirement process is required in Organization Aspects tab.');
                $("#txt_RECRUITMENT_PROCESS").focus();
            }
            else if (EMPLOYEE_ORIENTATION =="") {alert('New employee orientation is required in Organization Aspects tab.');
                $("#txt_EMPLOYEE_ORIENTATION").focus();
            }
            else if (TRAINING_OPPORTUNITIES =="") { alert('Training opportunity is required in Organization Aspects tab.');
                $("#txt_TRAINING_OPPORTUNITIES").focus();
            }
            else if (CAREER_DEVELOPMENT =="") {alert('Career developement opportunity is required in Organization Aspects tab.');
                $("#txt_CAREER_DEVELOPMENT").focus();
            }
            else if (EMPLOYEE_MORALE =="") { alert('Employee moral is required in Organization Aspects tab.');
                $("#txt_EMPLOYEE_MORALE").focus();
            }
            else if (FAIR_TREAT_EMPLOYEE =="") {alert('Fair treatment  is required in Organization Aspects tab.');
                $("#txt_FAIR_TREAT_EMPLOYEE").focus();
            }
            else if (RECOGNITION_FOR_JOB =="") {alert('Recognition for a job  is required in Organization Aspects tab.');
                $("#txt_RECOGNITION_FOR_JOB").focus();
            }
            else if (SUPPORT_FOR_WORK =="") {alert('Supported for work-life  is required in Organization Aspects tab.');
                $("#txt_SUPPORT_FOR_WORK").focus();
            }
            else if (CORPRATION =="") {alert('Cooperation is required in Organization Aspects tab.');
                $("#txt_CORPRATION").focus();
            }
            else if (COMMUNICATION =="") { alert('Good communication is required in Organization Aspects tab.');
                $("#txt_COMMUNICATION").focus();
            }
            else if (PERFORMANCE =="") {alert('Performance,Development and evaluation is required in Organization Aspects tab.');
                $("#txt_PERFORMANCE").focus();
            }
            else if (INTEREST =="") {alert('Employee interest and investment is required in Organization Aspects tab.');
                $("#txt_INTEREST").focus();
            }
            else if (COMMITMENT =="") {alert('Commitment to customer service is required in Organization Aspects tab.');
                $("#txt_COMMITMENT").focus();
            }
            else if (CONCERN =="") {alert('Concern with quality and excellence is required in Organization Aspects tab.');
                $("#txt_CONCERN").focus();
            }
            else if (ADMINISTRATIVE =="") {alert('Administrative polices/procedures is required in Organization Aspects tab.');
                $("#txt_ADMINISTRATIVE").focus();
            }
            else if (TYPE_OF_WORK =="") {  alert('Type of work performed is required in Job Aspects tab');
                $("#txt_TYPE_OF_WORK").focus();
            }
            else if (FAIRNESS_OF_WORKLOAD =="") {alert('Fairness of workload is required in Job Aspects tab.');
                $("#txt_FAIRNESS_OF_WORKLOAD").focus();
            }
            else if (SALARY =="") { alert('Salary is required in Job Aspects tab.');
                $("#txt_SALARY").focus();
            }
            else if (WORKING_CONDTIONS =="") {alert('Working condition is required in Job Aspects tab.');
                $("#txt_WORKING_CONDTIONS").focus();
            }
            else if (TOOLS_PROVIDED =="") {alert('Tools and equipment is required in Job Aspects tab.');
                $("#txt_TOOLS_PROVIDED").focus();
            }
            else if (TRAINING_RECEIVED =="") {alert('Training received is required in Job Aspects tab.');
                $("#txt_TRAINING_RECEIVED").focus();
            }
            else if (CO_WORKKERS =="") {alert('Co-worker is required in Job Aspects tab.');
                $("#txt_CO_WORKKERS").focus();
            }
            else if (SUPERVISION_RECEIVED =="") {alert('Supervision received  is required in Job Aspects tab.');
                $("#txt_SUPERVISION_RECEIVED").focus();
            }
            else if (LEVEL_OF_iNPUT =="") {alert('Affected decision  is required in Job Aspects tab.');
                $("#txt_LEVEL_OF_iNPUT").focus();
            }
            else if (JOB_EXPACTATIONS =="") {
                alert('Expectation field cannot be left blank in Another job/Expectation tab.');
                $("#txt_expectation").focus();
            }

        });

        //$('.chk_no').on('click',function(){
        //    $('.chk_no').each(function(){
        //        $(this).prop('checked',true);
        //    });
        //});

        //$('.chk_yes').on('click',function(){
        //    $('.chk_yes').each(function(){
        //        $(this).prop('checked',true);
        //    });
        //});


        $("#chk_ytw").on('click',function(){
            $("#chk_ntw").prop('checked',false);
        });
        $("#chk_ntw").on('click',function(){
            $("#chk_ytw").prop('checked',false);
        });

        $("#chk_ywc").on('click',function(){
            $("#chk_nwc").prop('checked',false);
        });
        $("#chk_nwc").on('click',function(){
            $("#chk_ywc").prop('checked',false);
        });

        $("#chk_yp").on('click',function(){
            $("#chk_np").prop('checked',false);
        });
        $("#chk_np").on('click',function(){
            $("#chk_yp").prop('checked',false);
        });

        $("#chk_ys").on('click',function(){
            $("#chk_ns").prop('checked',false);
        });
        $("#chk_ns").on('click',function(){
            $("#chk_ys").prop('checked',false);
        });

        $("#chk_yl").on('click',function(){
            $("#chk_nl").prop('checked',false);
        });
        $("#chk_nl").on('click',function(){
            $("#chk_yl").prop('checked',false);
        });

        $("#chk_ya").on('click',function(){
            $("#chk_na").prop('checked',false);
        });
        $("#chk_na").on('click',function(){
            $("#chk_ya").prop('checked',false);
        });
        $("#chk_nc").on('click',function(){
            $("#chk_yc").prop('checked',false);
        });
        $("#chk_yc").on('click',function(){
            $("#chk_nc").prop('checked',false);
        });
    });

    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
        {
            return false;
        }
        else {
            return true;
        }
    }
    function isRange()
    {
        $("#txt_EmployerName").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Location").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Position").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_WorkNature").on('keypress',function (event) {
            var letters = /^[a-zA-Z\s]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        //$("#txt_SalaryPosition").on('keypress',function (event) {
        //    var letters = /^([0-9]{6}$)/;
        //    var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
        //    //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
        //    if (!letters.test(key)) {
        //        event.preventDefault();
        //        return false;
        //    }
        //});


        //$("#txt_OrgOffer").on('keypress',function (event) {
        //    var letters = /\d{6}$/;
        //    var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
        //    //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
        //    if (!letters.test(key)) {
        //        event.preventDefault();
        //        return false;
        //    }
        //});


        $("#txt_PERFORMANCE_FEEDBACK").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_PERFORMANCE_FEEDBACK").on('keypress',function(){
            var strLen =$("#txt_PERFORMANCE_FEEDBACK").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_PERFORMANCE_FEEDBACK").focus();});
                return false;
            }
            else {
                $("#txt_PERFORMANCE_FEEDBACK").val('');
            }
        });
        $("#txt_RECOGNISED_ACCOMP").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_RECOGNISED_ACCOMP").on('keypress',function(){
            var strLen =$("#txt_RECOGNISED_ACCOMP").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_RECOGNISED_ACCOMP").focus();});
                return false;
            }
            else {
                $("#txt_RECOGNISED_ACCOMP").val('');
            }
        });
        $("#txt_COMMUNICATED_EXPECT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_COMMUNICATED_EXPECT").on('keypress',function(){
            var strLen =$("#txt_COMMUNICATED_EXPECT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_COMMUNICATED_EXPECT").focus();});
                return false;
            }
            else {
                $("#txt_COMMUNICATED_EXPECT").val('');
            }
        });
        $("#txt_Treated").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Treated").on('keypress',function(){
            var strLen =$("#txt_Treated").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_Treated").focus();});
                return false;
            }
            else {
                $("#txt_Treated").val('');
            }
        });
        $("#txt_Trained").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Trained").on('keypress',function(){
            var strLen =$("#txt_Trained").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_Trained").focus();});
                return false;
            }
            else {
                $("#txt_Trained").val('');
            }
        });
        $("#txt_Leadership").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_Leadership").on('keypress',function(){
            var strLen =$("#txt_Leadership").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_Leadership").focus();});
                return false;
            }
            else {
                $("#txt_Leadership").val('');
            }
        });
        $("#txt_ENCOURAGED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_ENCOURAGED").on('keypress',function(){
            var strLen =$("#txt_ENCOURAGED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_ENCOURAGED").focus();});
                return false;
            }
            else {
                $("#txt_ENCOURAGED").val('');
            }
        });
        $("#txt_CONCERNS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CONCERNS").on('keypress',function(){
            var strLen =$("#txt_CONCERNS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CONCERNS").focus();});
                return false;
            }
            else {
                $("#txt_CONCERNS").val('');
            }
        });
        $("#txt_SUGGESTIONS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SUGGESTIONS").on('keypress',function(){
            var strLen =$("#txt_SUGGESTIONS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SUGGESTIONS").focus();});
                return false;
            }
            else {
                $("#txt_SUGGESTIONS").val('');
            }
        });
        $("#txt_KEPT_INFORMED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_KEPT_INFORMED").on('keypress',function(){
            var strLen =$("#txt_KEPT_INFORMED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_KEPT_INFORMED").focus();});
                return false;
            }
            else {
                $("#txt_KEPT_INFORMED").val('');
            }
        });
        $("#txt_WORK_LIFE_BALANCE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_WORK_LIFE_BALANCE").on('keypress',function(){
            var strLen =$("#txt_WORK_LIFE_BALANCE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_WORK_LIFE_BALANCE").focus();});
                return false;
            }
            else {
                $("#txt_WORK_LIFE_BALANCE").val('');
            }
        });
        $("#txt_ASSIGNMENT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_ASSIGNMENT").on('keypress',function(){
            var strLen =$("#txt_ASSIGNMENT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_ASSIGNMENT").focus();});
                return false;
            }
            else {
                $("#txt_ASSIGNMENT").val('');
            }
        });

        $("#txt_RECRUITMENT_PROCESS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_RECRUITMENT_PROCESS").on('keypress',function(){
            var strLen =$("#txt_RECRUITMENT_PROCESS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_RECRUITMENT_PROCESS").focus();});
                return false;
            }
            else {
                $("#txt_RECRUITMENT_PROCESS").val('');
            }
        });
        $("#txt_EMPLOYEE_ORIENTATION").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_EMPLOYEE_ORIENTATION").on('keypress',function(){
            var strLen =$("#txt_EMPLOYEE_ORIENTATION").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_EMPLOYEE_ORIENTATION").focus();});
                return false;
            }
            else {
                $("#txt_EMPLOYEE_ORIENTATION").val('');
            }
        });
        $("#txt_TRAINING_OPPORTUNITIES").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TRAINING_OPPORTUNITIES").on('keypress',function(){
            var strLen =$("#txt_TRAINING_OPPORTUNITIES").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TRAINING_OPPORTUNITIES").focus();});
                return false;
            }
            else {
                $("#txt_TRAINING_OPPORTUNITIES").val('');
            }
        });
        $("#txt_CAREER_DEVELOPMENT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CAREER_DEVELOPMENT").on('keypress',function(){
            var strLen =$("#txt_CAREER_DEVELOPMENT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CAREER_DEVELOPMENT").focus();});
                return false;
            }
            else {
                $("#txt_CAREER_DEVELOPMENT").val('');
            }
        });
        $("#txt_EMPLOYEE_MORALE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_EMPLOYEE_MORALE").on('keypress',function(){
            var strLen =$("#txt_EMPLOYEE_MORALE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_EMPLOYEE_MORALE").focus();});
                return false;
            }
            else {
                $("#txt_EMPLOYEE_MORALE").val('');
            }
        });
        $("#txt_FAIR_TREAT_EMPLOYEE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_FAIR_TREAT_EMPLOYEE").on('keypress',function(){
            var strLen =$("#txt_FAIR_TREAT_EMPLOYEE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_FAIR_TREAT_EMPLOYEE").focus();});
                return false;
            }
            else {
                $("#txt_FAIR_TREAT_EMPLOYEE").val('');
            }
        });
        $("#txt_RECOGNITION_FOR_JOB").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_RECOGNITION_FOR_JOB").on('keypress',function(){
            var strLen =$("#txt_RECOGNITION_FOR_JOB").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_RECOGNITION_FOR_JOB").focus();});
                return false;
            }
            else {
                $("#txt_RECOGNITION_FOR_JOB").val('');
            }
        });
        $("#txt_SUPPORT_FOR_WORK").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SUPPORT_FOR_WORK").on('keypress',function(){
            var strLen =$("#txt_SUPPORT_FOR_WORK").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SUPPORT_FOR_WORK").focus();});
                return false;
            }
            else {
                $("#txt_SUPPORT_FOR_WORK").val('');
            }
        });
        $("#txt_CORPRATION").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CORPRATION").on('keypress',function(){
            var strLen =$("#txt_CORPRATION").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CORPRATION").focus();});
                return false;
            }
            else {
                $("#txt_CORPRATION").val('');
            }
        });
        $("#txt_COMMUNICATION").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_COMMUNICATION").on('keypress',function(){
            var strLen =$("#txt_COMMUNICATION").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_COMMUNICATION").focus();});
                return false;
            }
            else {
                $("#txt_COMMUNICATION").val('');
            }
        });
        $("#txt_PERFORMANCE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_PERFORMANCE").on('keypress',function(){
            var strLen =$("#txt_PERFORMANCE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_PERFORMANCE").focus();});
                return false;
            }
            else {
                $("#txt_PERFORMANCE").val('');
            }
        });
        $("#txt_INTEREST").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_INTEREST").on('keypress',function(){
            var strLen =$("#txt_INTEREST").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_INTEREST").focus();});
                return false;
            }
            else {
                $("#txt_INTEREST").val('');
            }
        });
        $("#txt_COMMITMENT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_COMMITMENT").on('keypress',function(){
            var strLen =$("#txt_COMMITMENT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_COMMITMENT").focus();});
                return false;
            }
            else {
                $("#txt_COMMITMENT").val('');
            }
        });
        $("#txt_CONCERN").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CONCERN").on('keypress',function(){
            var strLen =$("#txt_CONCERN").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CONCERN").focus();});
                return false;
            }
            else {
                $("#txt_CONCERN").val('');
            }
        });
        $("#txt_ADMINISTRATIVE").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_ADMINISTRATIVE").on('keypress',function(){
            var strLen =$("#txt_ADMINISTRATIVE").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_ADMINISTRATIVE").focus();});
                return false;
            }
            else {
                $("#txt_ADMINISTRATIVE").val('');
            }
        });

        $("#txt_TYPE_OF_WORK").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TYPE_OF_WORK").on('keypress',function(){
            var strLen =$("#txt_TYPE_OF_WORK").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TYPE_OF_WORK").focus();});
                return false;
            }
            else {
                $("#txt_TYPE_OF_WORK").val('');
            }
        });
        $("#txt_FAIRNESS_OF_WORKLOAD").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_FAIRNESS_OF_WORKLOAD").on('keypress',function(){
            var strLen =$("#txt_FAIRNESS_OF_WORKLOAD").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_FAIRNESS_OF_WORKLOAD").focus();});
                return false;
            }
            else {
                $("#txt_FAIRNESS_OF_WORKLOAD").val('');
            }
        });
        $("#txt_SALARY").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SALARY").on('keypress',function(){
            var strLen =$("#txt_SALARY").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SALARY").focus();});
                return false;
            }
            else {
                $("#txt_SALARY").val('');
            }
        });
        $("#txt_WORKING_CONDTIONS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_WORKING_CONDTIONS").on('keypress',function(){
            var strLen =$("#txt_WORKING_CONDTIONS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_WORKING_CONDTIONS").focus();});
                return false;
            }
            else {
                $("#txt_WORKING_CONDTIONS").val('');
            }
        });
        $("#txt_TOOLS_PROVIDED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TOOLS_PROVIDED").on('keypress',function(){
            var strLen =$("#txt_TOOLS_PROVIDED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TOOLS_PROVIDED").focus();});
                return false;
            }
            else {
                $("#txt_TOOLS_PROVIDED").val('');
            }
        });
        $("#txt_TRAINING_RECEIVED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_TRAINING_RECEIVED").on('keypress',function(){
            var strLen =$("#txt_TRAINING_RECEIVED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_TRAINING_RECEIVED").focus();});
                return false;
            }
            else {
                $("#txt_TRAINING_RECEIVED").val('');
            }
        });
        $("#txt_CO_WORKKERS").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_CO_WORKKERS").on('keypress',function(){
            var strLen =$("#txt_CO_WORKKERS").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_CO_WORKKERS").focus();});
                return false;
            }
            else {
                $("#txt_CO_WORKKERS").val('');
            }
        });
        $("#txt_SUPERVISION_RECEIVED").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_SUPERVISION_RECEIVED").on('keypress',function(){
            var strLen =$("#txt_SUPERVISION_RECEIVED").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_SUPERVISION_RECEIVED").focus();});
                return false;
            }
            else {
                $("#txt_SUPERVISION_RECEIVED").val('');
            }
        });
        $("#txt_LEVEL_OF_iNPUT").on('keypress',function (event) {
            var letters = /^[1-5]+$/;
            var key = String.fromCharCode(!event.fromCharCode ? event.which : event.charCode);
            //var characterReg = /^([a-zA-Z0-9]{0,5})$/;
            if (!letters.test(key)) {
                event.preventDefault();
                return false;
            }
        });
        $("#txt_LEVEL_OF_iNPUT").on('keypress',function(){
            var strLen =$("#txt_LEVEL_OF_iNPUT").val();
            if (strLen.length >1) {
                alert("Allowed only Single digit number.");
                setTimeout(function(){$("#txt_LEVEL_OF_iNPUT").focus();});
                return false;
            }
            else {
                $("#txt_LEVEL_OF_iNPUT").val('');
            }
        });
    }
    function ClearText() {
        $('#txt_Reasion').val("");
        $('.chk_yes').each(function(){
            $(this).prop('checked',false);
        });
        $('.chk_no').each(function(){
            $(this).prop('checked',false);
        });
        // OR
        //$("#chk_ytw").prop("checked",false);
        //$("#chk_ntw").prop("checked",false);
        //$('#chk_ywc').prop("checked",false);
        //$('#chk_nwc').prop("checked",false);
        //$('#chk_yp').prop("checked",false);
        //$('#chk_np').prop("checked",false);
        //$('#chk_ys').prop("checked",false);
        //$('#chk_ns').prop("checked",false);
        //$('#chk_yl').prop("checked",false);
        //$('#chk_nl').prop("checked",false);
        //$('#chk_ya').prop("checked",false);
        //$('#chk_na').prop("checked",false);
        //$("#chk_yc").prop('checked',false);
        //$("#chk_nc").prop('checked',false);
        $('#txt_EmployerName').val("");
        $('#txt_Location').val("");
        $('#txt_Position').val("");
        $('#txt_WorkNature').val("");
        $('#txt_SalaryPosition').val("");
        $('#txt_OrgOffer').val("");

        $('#txt_PERFORMANCE_FEEDBACK').val("");
        $('#txt_RECOGNISED_ACCOMP').val("");
        $('#txt_COMMUNICATED_EXPECT').val("");
        $('#txt_Treated').val("");
        $('#txt_Trained').val("");
        $('#txt_Leadership').val("");
        $('#txt_ENCOURAGED').val("");
        $('#txt_CONCERNS').val("");
        $('#txt_SUGGESTIONS').val("");
        $('#txt_KEPT_INFORMED').val("");
        $('#txt_WORK_LIFE_BALANCE').val("");
        $('#txt_ASSIGNMENT').val("");

        $('#txt_RECRUITMENT_PROCESS').val("");
        $('#txt_EMPLOYEE_ORIENTATION').val("");
        $('#txt_TRAINING_OPPORTUNITIES').val("");
        $('#txt_CAREER_DEVELOPMENT').val("");
        $('#txt_EMPLOYEE_MORALE').val("");
        $('#txt_FAIR_TREAT_EMPLOYEE').val("");
        $('#txt_RECOGNITION_FOR_JOB').val("");
        $('#txt_SUPPORT_FOR_WORK').val("");
        $('#txt_CORPRATION').val("");
        $('#txt_COMMUNICATION').val("");
        $('#txt_PERFORMANCE').val("");
        $('#txt_INTEREST').val("");
        $('#txt_COMMITMENT').val("");
        $('#txt_CONCERN').val("");
        $('#txt_ADMINISTRATIVE').val("");

        $('#txt_TYPE_OF_WORK').val("");
        $('#txt_FAIRNESS_OF_WORKLOAD').val("");
        $('#txt_SALARY').val("");
        $('#txt_WORKING_CONDTIONS').val("");
        $('#txt_TOOLS_PROVIDED').val("");
        $('#txt_TRAINING_RECEIVED').val("");
        $('#txt_CO_WORKKERS').val("");
        $('#txt_SUPERVISION_RECEIVED').val("");
        $('#txt_LEVEL_OF_iNPUT').val("");
        $("#txt_expectation").val("");
    }

    function CancelOnClick() {
        window.location.href = "/Home/Dashboard";
    }

</script>
<div class="row">
    <div class="panel">
        <div class="panel-heading" style="background-color:#00bff9;"><h4 align="left" style="font-size:15px;">Custom Search Parameters</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Select Template:<span class="required">*</span></label>                        
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">                        
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>                              
            </div><hr />
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Division:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Department:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Location:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Designation:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Unit:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Associate Type:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Salary Basis:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Section:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Employee Type:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Employee Name:<span class="required">*</span></label>
                        <select class="form-control" id="temp">
                            <option value="0">Select Template ID</option>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                            <option value="3">Template 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label style="margin-top:12px;">Enter Single or Multiple Employee Code. Use ',' as Separator(E001,E002 is the correct format)<span class="required">*</span></label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label></label>
                    <div class="form-group">
                        <textarea rows="2" class="form-control"></textarea>
                    </div>
                </div>
            </div>                                   
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-5">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group form-group-toggle" data-toggle="buttons">
                    @*onclick="ClearText()"*@
                    <button type="button" class="btn btn-primary" id="btn_Submit">Search</button>
                    <button type="button" class="btn btn-primary" id="btnReset" onclick="ClearText()">Reset</button>
                    <button type="button" class="btn btn-primary" onclick="CancelOnClick()">Cancel</button>
                    <input type="hidden" id="hdn_Appraisal_id" value="@ViewBag.Exit_idType" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="page-title">Already mapped with template</h4>
        </div>
        <div class="col-sm-4 text-right m-b-30">

        </div>
        <div class="col-sm-2 text-right m-b-30">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-responsive custom-table m-b-0" id="datatableList" style="font-size:11px;">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="#" />Select All</th>
                        <th>EMP CODE</th>
                        <th>EMP NAME</th>
                        <th>DEPARTMENT</th>
                        <th>DESIGNATION</th>
                        <th>TEMPLATE DETAILS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model)
                    {
                        
                    }*@
                    <tr>
                        <td>
                            <input type="checkbox" id="#"/>
                        </td>
                        <td>
                            000023
                        </td>
                        <td>
                            Sanjeev Kumar
                        </td>
                        <td>
                           Development Control
                        </td>
                        <td>
                            Deputy Manager
                        </td>
                        <td>
                        TAPC
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0);" title="Edit" id="btn_edit"><i class="fa fa-pencil m-r-5"></i> <i class="fa fa-eye m-r-5"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab" class="blue">Section 1</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab" class="orange">Section 2</a></li>
                    <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab" class="pink">Section 3</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <h4>Section 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor urna lacus, ut viverra lorem mollis non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vel malesuada ipsum. Nam commodo, est nec dictum bibendum.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <h4>Section 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor urna lacus, ut viverra lorem mollis non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vel malesuada ipsum. Nam commodo, est nec dictum bibendum.
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section3">
                        <h4>Section 3</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor urna lacus, ut viverra lorem mollis non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vel malesuada ipsum. Nam commodo, est nec dictum bibendum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    
.nav-tabs {
    list-style: none;
    padding-left: 0;
}
.nav-tabs li{
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(330deg);
    transition: background 0.2s, color 0.2s, transform 0.5s, margin 0.4s;
}
.nav-tabs li:hover {
    margin-right: 30px;
}
.nav-tabs li.active {
    color: #3498db;
    background: #f2f2f2;
    transform:rotateX(360deg) rotateY(0deg) rotateZ(0deg) skewX(330deg);
    transition: all 0.8s ease 0s;
}
.nav-tabs li a{
    border:none;
    outline:none;
    padding: 14px 28px;
    color:#fff;
    background: #3498db;
}
.nav-tabs li a:hover{
    color:#333;
}
.tab .tab-content h4{
    color:#3498db;
}
</style>
