
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .field-icon {
        float: right;
        margin-right: 15px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>

<div class="row">
    <div class="col-sm-8">
        <h4 class="page-title">Change Password</h4>
    </div>

    <div class="col-sm-4 text-right m-b-30">

    </div>
</div>
<div class="card-box">
    <div class="row">
        <div class="col-md-12">

            <form class="forms-sample">
                <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-2 col-form-label" style="margin-top:11px">Old Password</label>
                    <div class="col-sm-5">
                        @*Swetank*@
                        <input id="oldtxtPassword" type="password" class="form-control" placeholder="Old Password">
                        <span id="oldpwdshow" class="fa fa-fw fa-eye field-icon toggle-password" onclick="funShowPwd('oldtxtPassword','oldpwdshow');"></span>
                    </div>
                    <div class="col-sm-5"> </div>

                </div>
                <div class="form-group row">
                    <label for="exampleInputConfirmPassword3" class="col-sm-2 col-form-label" style="margin-top:11px">New Password</label>
                    <div class="col-sm-5">
                        @*Swetank*@
                        <input id="newtxtPassword" type="password" class="form-control" placeholder="New Password">
                        <span id="newpwdshow" class="fa fa-fw fa-eye field-icon toggle-password" onclick="funShowPwd('newtxtPassword','newpwdshow');"></span>
                    </div>
                    <div class="col-sm-5"> </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputConfirmPassword4" class="col-sm-2 col-form-label" style="margin-top:11px">Confirm Password</label>
                    <div class="col-sm-5">
                        @*Swetank*@
                        <input id="confirmtxtPassword" type="password" onchange="if ($(this).val() != $('#newtxtPassword').val()) { alert('Confirm Password Not Matched !'); $('#newtxtPassword').val(''); $(this).val(''); }" class="form-control" placeholder="Confirm Password">
                        <span id="confirmpwdshow" class="fa fa-fw fa-eye field-icon toggle-password"  onclick="funShowPwd('confirmtxtPassword','confirmpwdshow');"></span>
                    </div>
                    <div class="col-sm-5"> </div>
                </div>

                <input type="button" class="btn btn-primary" id="btnupdate" name="Update" value="Update" />
                
                <a class="btn btn-primary" href="/home/index">Close</a>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#oldtxtPassword").focus();
        });
        $('#btnupdate').on('click', function () {   
            if ($('#oldtxtPassword').val() == '') {
                alert("Old Password can't be Blank !");
                $('#oldtxtPassword').focus();
                return false;
            }
            if ($('#newtxtPassword').val() == '') {
                alert("New Password can't be Blank !");
                $('#newtxtPassword').focus();
                return false;
            if ($('#confirmtxtPassword').val() == '') {
            }
                alert("Conform Password can't be Blank !");
                $('#confirmtxtPassword').focus();
                return false;
            }
            var old_password = $('#oldtxtPassword').val();
            var new_password = $('#newtxtPassword').val();
            if (old_password != "" && new_password != "") {
                $('#btnupdate').prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url: '/home/changepassword',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            'old_pwd': old_password, 'new_pwd': new_password
                        }
                    ),
                    dataType: 'json',
                    success: function (response) {
                       
                        var succ = response.SuccessMsg;
                        var err = response.ErrorMsg;
                        if (succ != "" && err == "")
                        {
                            alert(succ);
                        }
                        else
                        {
                            alert(err);                         
                        }
                        $('#oldtxtPassword').val("");
                        $('#newtxtPassword').val("");
                        $('#confirmtxtPassword').val("");
                        $('#oldtxtPassword').focus();
                        $('#btnupdate').prop('disabled', false);
                    }
                });
            }
        });
    });
    function funShowPwd(T, T1) {
        var x = document.getElementById(T);
        $("#" + T1).toggleClass("fa-eye fa-eye-slash");
        if (x.type == "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>