<!Doctype html>
<html>
  <head>
      <title>Bootstrap Example</title>
      <link href="~/assets/css/styleflex.css" rel="stylesheet" />       
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.4.2/css/framework7.ios.min.css" />
      
           
  </head>
  <body>
     <header>
         <nav id="menu">
             <ul>
                 <li><a href="">Home</a></li>
                 <li><a href="">About Us</a></li>
                 <li><a href="">Contact</a></li>
             </ul>
         </nav>
         <div id="logo">
             <a href="">Yahoo Baba</a>
         </div>
         <nav id="social-links">
             <ul>
                 <li><a href="" class="fa fa-facebook"></a></li>
                 <li><a href="" class="fa fa-twitter"></a></li>
                 <li><a href="" class="fa fa-google-plus"></a></li>
             </ul>

         </nav>
     </header>  
      <div id="main">          
          <aside class="">
              <ul>
                  <li><a href="">some link</a></li>
                  <li><a href="">some link</a></li>
                  <li><a href="">some link</a></li>
                  <li><a href="">some link</a></li>
                  <li><a href="">some link</a></li>
                  <li><a href="">some link</a></li>
              </ul>              
              <img src="~/assets/img/mathew-schwartz-SOz2Ab5Hkoo-unsplash.jpg" alt=""/>
          </aside>
          <article class="">
              <h2>Welcome to our Website</h2>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
              <h2>Our Services</h2>
              <div class="services-container">
                  <div class="service-box">
                      <div class="service-img">
                          <img src="~/assets/img/austin-distel-rxpThOwuVgE-unsplash.jpg" alt="" />                          
                      </div>
                      <div class="service-title">
                          <h3>Web Designing</h3>
                      </div>
                      <div class="service-desc">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div class="call-to-action">
                          <a href="">Read more</a>
                      </div>
                  </div>  
                  <div class="service-box">
                      <div class="service-img">
                          <img src="~/assets/img/campaign-creators-iEiUITs149M-unsplash.jpg" alt="" />                          
                      </div>
                      <div class="service-title">
                          <h3>Web Development</h3>
                      </div>
                      <div class="service-desc">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div class="call-to-action">
                          <a href="">Read more</a>
                      </div>
                  </div>
                  <div class="service-box">
                      <div class="service-img">
                          <img src="~/assets/img/kaleidico-HixzNprXdb4-unsplash.jpg" alt="" />                          
                      </div>
                      <div class="service-title">
                          <h3>Mobile App Development</h3>
                      </div>
                      <div class="service-desc">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div class="call-to-action">
                          <a href="">Read more</a>
                      </div>
                  </div>                
              </div>
          </article>          
      </div>
      <footer>
          Made by Manoj
      </footer>    
  </body>
</html>