<style type="text/css">
    .container {
        width: 1073px !important;
    }
    table.myclass {
        border-radius: 3px;
    }

    .required {
        color: red;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<html>
<head>
    <title></title>
    <script>
        function BindProjectList() {
            var Dept_id = $('#Departments').val();
            $.ajax({
                type: "POST",
                url: '/Report/GetProjectList',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    'Dept_Id': Dept_id
                }),
                dataType: 'Json',
                success: function (data) {
                    var b = data.ErrorMsg;
                    if (data != null) {
                        var len = Object.keys(data).length;
                        $("#Project_Name").html("");
                        $("#Project_Name").append($('<option></option>').html("Select"))
                        //Append each row to dropdown
                        for (var i = 0; i < len; i++) {

                            $("#Project_Name").append($('<option></option>').val(data[i].Project_id).html(data[i].Project_Name))
                        }

                    }
                    else {
                        alertify.alert(b);
                    }
                },
                error: function () {

                }
            });
        }
        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $(document).ready(function () {
            $('ul.list-unstyled  li a[href$="' + "/ProjectExpense_Report" + '"]').addClass('active');

            $(document).on('click', '#btnsearch', function (e) {
               
                $('#tab1 tbody').empty();
                $('#EmpRpt').hide();
                $('#EmpRptt').hide();
                $('#tab2 tbody').empty();
                $('#EmpRpt2').hide();
                $('#tab3 tbody').empty();
                var project_id = $('#Project_Name').val();
                $.ajax({
                    type: "POST",
                    url: '/Report/ProjectWiseTotalExpense',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        'Project_Id': project_id
                    }),
                    dataType: 'Json',
                    success: function (data) {
                        var len = Object.keys(data).length;
                        if (len > 0) {
                            $('#tab1 tbody').empty();
                            $('#tab1 tbody').append("<tr id='info'><td>" + data[0].Project_Name + "</td><td style='text-align:right'><a href='#' class='tbl1'>" + data[0].Expense_cost + "</a></td></tr>");
                            $('#EmpRpt').show();
                        }
                        else {
                            $('#tab1 tbody').empty();
                            $('#EmpRpt').hide();
                            alert("No Data Found.");

                        }
                    },
                    error: function () {

                    }
                });
            })
            $(document).on('click', ".tbl1", function (e) {
                var project_id = $('#Project_Name option:selected').val();
                $.ajax({
                    url: '/Report/ProjectTotalExpenseBreakup',
                    type: 'GET',
                    contenttype: "application/json; charset=utf-8",
                    data:
                    {
                        'Project_Id': project_id
                    },
                    datatype: 'Json',
                    success: function (data) {
                        var len = Object.keys(data).length;
                        $('#tab2 tbody').empty();
                        //Append each row to html table
                        for (var i = 0; i < len; i++) {
                            $('#tab2 tbody').append("<tr id='info'><td is='dt'>" + data[i].ShowDate + "</td><td style='text-align:right'><a href='#' class='tbl2'>" + data[i].Expense_cost + "</a></td></tr>");
                        }
                        $('#EmpRptt').show();
                        $('#tab2').each(function () {
                            var emp_amt = 0;
                            $(this).find('tr#info td a.tbl2').each(function () {
                                var combat = $(this).text();
                                if (!isNaN(combat) && combat.length !== 0) {
                                    emp_amt = parseFloat(emp_amt) + parseFloat(combat);
                                }
                            });
                            $('.grdfinal').text(emp_amt.toFixed(2)).digits();
                            $('#month_wise_expense').modal('show');
                        });
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });

            });
            $(document).on('click', ".tbl2", function (e) {
               
                var project_id = $('#Project_Name option:selected').val();
                var dt = ($(this).closest('tr td').prev().html()).split("-");
                var months = {
                    'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',
                    'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
                };
                var selectedMonth = months[dt[0]];
                var selectedYear = '20' + dt[1];
                $.ajax({
                    url: '/Report/ProjectWiseMExpBreakup',
                    type: 'GET',
                    contenttype: "application/json; charset=utf-8",
                    data:
                    {
                        'Project_id': project_id, 'Month': selectedMonth, 'Year': selectedYear
                    },
                    datatype: 'Json',
                    success: function (data) {
                        var len = Object.keys(data).length;
                        $('#tab3 tbody').empty();
                        //Append each row to html table
                        for (var i = 0; i < len; i++) {
                            $('#tab3 tbody').append("<tr id='info3'><td>" + data[i].Emp_code + "</td><td style='text-align:right' id='exp_cost'>" + data[i].Expense_cost + "</td></tr>");
                        }
                        $('#EmpRpt2').show();
                        $('#tab3').each(function () {
                            var emp_amt = 0;
                            $(this).find('tr#info3 td#exp_cost').each(function () {
                                var combat = $(this).text();
                                if (!isNaN(combat) && combat.length !== 0) {
                                    emp_amt = parseFloat(emp_amt) + parseFloat(combat);
                                }
                            });

                            $('.grdfinall').text(emp_amt.toFixed(2)).digits();
                        });
                        $('#employee_wise_expense').modal('show');
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });

            });
            $("#btn_edit_close").click(function () {
                $('#month_wise_expense').modal('hide');
            });
            $("#btn_edit_close1").click(function () {
                $('#employee_wise_expense').modal('hide');
            });
        })

    </script>
</head>
<body>
    <div class="container">
        <div id="wait" style="display:none;width:109px;height:100px;position:absolute;top:50%;left:50%;padding:2px;">
            <img src="~/assets/img/giphy_new.gif" width="104" height="104" /><br>Loading..
        </div>
        <br />
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">Project Expense</div>
            <br />
            <div class="panel-body" style="height:100%;">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group form-focus focused">
                           
                                <label style="font-size: 12px;" class="control-label">Department Name:</label>

                                @Html.DropDownList("Departments", (IEnumerable<SelectListItem>)ViewBag.Deptlist, "Select", new { @class = "form-control floating myclass", @style = "height: 39px;padding: 16px 11px 4px !important; width:150px;", onchange = "BindProjectList();" })

                           
                        </div>
                    </div>                   
                    <div class="col-sm-2">
                        <div class="form-group form-focus focused">
                           
                                <label style="font-size: 12px;" class="control-label">Project Name:</label>
                                @Html.DropDownList("Project_Name", (IEnumerable<SelectListItem>)ViewBag.Projectlist, "Select", new { @class = "form-control floating myclass", @style = "height: 39px;padding: 16px 11px 4px !important; width:150px;" })
                       
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-focus focused">
                            <button type='button' id='btnsearch' class="btn btn-primary" style="border-radius: 18px;padding: 8px 14px;">Search</button>
                        </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="EmpRpt">
                        <table id="tab1">
                            <thead>
                                <tr>
                                    <th>
                                        Project Name
                                    </th>
                                    <th style="text-align:right">
                                        Total Expense
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="col-md-5" id="EmpRpt1">
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div id="month_wise_expense" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" id="btn_edit_close" class="close">&times;</button>
        <div class="modal-content modal-lg">
            <div class="panel" id="pnl_header">
                <div class="panel-body">
                    <div class="modal-header"><h4 class="modal-title">Month Wise Report </h4></div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="EmpRptt">
                                <h5>Month Wise Report</h5>
                                <table id="tab2">
                                    <thead>
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th style="text-align:right">
                                                Total Man Hours
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td style="text-align:right"><label class="grdfinal" value="" name="" /></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="employee_wise_expense" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" id="btn_edit_close1" class="close">&times;</button>
        <div class="modal-content modal-lg">

            <div class="panel" id="pnl_header">
                <div class="panel-body">
                    <div class="modal-header"><h4 class="modal-title">Employee Wise Report </h4></div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="EmpRpt2" style="overflow:scroll;height:300px;">
                                <h5>Employee Wise Report</h5>
                                <table id="tab3">
                                    <thead>
                                        <tr>
                                            <th>
                                                Employee Name
                                            </th>
                                            <th style="text-align:right">
                                                Expense Cost
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td style="text-align:right"><label class="grdfinall" value="" name="" /></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
